exportPattern("^[[:alpha:]]+")
import(dplyr)
import(pdftools)
import(xml2)
import(rvest)
import(tidytext)
import(tidyr)
import(stringr)
import(stringi)
import(plotly)
import(ggplot2)
import(rio)
import(tictoc)
import(lubridate)
